body{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 230px;
		
	overflow-x: hidden;
}
.navi ul li a{
	text-decoration: none;
	color: #eccb77;
	
}
.navi li{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    padding: 75px;
}

.navi{
	position: relative;
	top: -180px;
	bottom: 0px;
	left:360px;
}


.styled-image {
	position: relative;
	top: 10px;
    width: 300px;
    height: auto;
    
}
.sign{
	position: relative;
	top: -300px;
	bottom: 0px;
	right: 0px;
	left: 1435px;
	
	width:75px;
	height: 25px;

	padding-top: 5px;
	
	border-radius: 3px;
	border: solid 0.5px black;
	
	background-color: #eccb77;
	color: black;
	
	font-family: "Madimi One", sans-serif;
	text-align: center;
}
.log{
	position: relative;
	top: -332px;
	bottom: 0px;
	right: 0px;
	left: 1520px;
	
	width:75px;
	height: 26px;
	
	padding-top: 5px;

	
	border-radius: 3px;
	border: solid 0.5px black;
	
	background-color: #eccb77;
	color: black;
	
	font-family: "Madimi One", sans-serif;
	text-align: center;
}

.slideshow-container {
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 800px;
    margin: auto;
}
.position{
	position: relative;
	top: -290px;
	left: -100px;
}

.slide {
    display: none;
}

img {
	width: 1920px;
	height: auto;
}
/* Black overlay */
.slide:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.text{
	color: white;
	position: absolute;
	top: 70px;
	right: 480px;
	font-size: 30px;
	font-weight: bolder;
}

/*Event text*/

.bday{
	width: 400px;
	height: 400px;
	position: relative;
	left: 50px;
	top: -180px;
}
.btext{
	position: relative;
	top: -460px;
	left: 516px;
	font-size: 40px;
	
	width: 1120px;
	color: #eccb77;
	
	text-align: justify;
	
	font-family:"Satisfy", cursive;
}
.gday{
	width: 400px;
	height: 400px;
	position: relative;
	left: 1240px;
	top: -260px;
}
.gtext{
	position: relative;
	top: -535px;
	left: 50px;
	font-size: 40px;
	
	width: 1120px;
	color: #eccb77;
	
	text-align: justify;
	
	font-family:"Satisfy", cursive;
}

::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb{
    border-radius:20px;
    background-color:#eccb77;
}

/*event container*/

.red{
	background-color:red;
	border:0.5px solid black;
	color:yellow;
}





