body{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 230px;	
	overflow-x: hidden;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(183, 140, 30));
	background-size: 400% 400%;
	height: 100vh;
}


/* Navigation Bar */

.list{
	font-family: "Tangerine", cursive;
  	font-weight: 700;
  	font-style: normal;
  	font-size: 20px;
}



.navi ul li a{
	text-decoration: none;
	color: #eccb77;
	
}
.navi li{
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    padding: 60px;
}

.navi{
	position: relative;
	top: -180px;
	bottom: 0px;
	left:378px;
	
}


.styled-image {
	position: relative;
	top: 10px;
    width: 300px;
    height: auto;
    
}
#sign{
	position: relative;
	top: -300px;
	bottom: 0px;
	right: 0px;
	left: 1435px;
	
	width:75px;
	height: 25px;

	padding-top: 5px;
	
	border-radius: 3px;
	border: solid 0.5px black;
	
	background-color: #eccb77;
	color: black;
	
	font-family: "Madimi One", sans-serif;
	text-align: center;
}

#sign:hover{
	
	cursor:pointer;
}
#log{
	position: relative;
	top: -332px;
	bottom: 0px;
	right: 0px;
	left: 1520px;
	
	width:75px;
	height: 26px;
	
	padding-top: 5px;

	
	border-radius: 3px;
	border: solid 0.5px black;
	
	background-color: #eccb77;
	color: black;
	
	font-family: "Madimi One", sans-serif;
	text-align: center;
}
#log:hover{
	
	cursor:pointer;
}




/* footer */

.epic {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  position: relative;
  right:49px;
  top:241px;
}

.rightS {
    color: white;
    position: inherit;
    right: -136px;
    top: 56px;
    font-size: 20px;
}

.con {
  padding-left: 186px;
}
.box {
  display: inline-block;
}

.quote {
  font-size: 60px;
  position: relative;
  left: -100px;
  bottom: -53px;
  color: #f1c62b;
  font-family: "League Script", cursive;
  font-weight: 400;
  font-style: normal;

  
}

.icons {
  justify-content: center;
  text-align: left;
  padding: 20px;
  font-size: 22px;
  margin-left: 50px;
  position: relative;
  left: 115px;
}

.icons a {
  padding: 5px;
  color: #ffffff71;
}

.fab{
  transition: 0.5s;
}

.fab:hover {
  color: #ffffff;
  transform: scale(1.2);
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #f5f5f5;
  background-color: #191919;
  border-top: 2px solid #eccb77;
}



.logo {
  width: auto;
  height: 150px;
  position: relative;
  left: 116px;
}

.footer {
  width:1920px;
  position:relative;
  left:-100px;
  top:0px;
}


.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  font-size: 20px;
  font-weight: 400;
}

footer__addr{
  width: 1920px;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgba(146, 146, 146, 0.825);
  border-radius: 100px;
  color: #000000;
  line-height: 0;
  margin: 0.6em 0;
  margin-left: 70px;
  font-size: 1rem;
  padding: 0 1.3em;
  position: relative;
  left: 114px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}


/*footer end */
.paymentContainer{
	display:flex;
	flex:wrap;
	column-gap:100px;
	
	
}

.paymentbill{
	background-color:black;
	color:white;
}
.deleteBtn{
	background-color:red;
}


/* Bill Print */

* {
    box-sizing: border-box;
  }
  
  .ticket-system {
    max-width: 385px;
    position: relative;
    left: 650px;
    bottom: 150px;
  }
  
  .ticket-system .top {
    display: flex;
    align-items: center;
    flex-direction: column;
 }
  
  .ticket-system .top .title {
    font-weight: normal;
    font-size: 1.6em;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 50px;
    color: #f0d800e3;
  }
  
  .ticket-system .top .printer {
    width: 90%;
    height: 20px;
    border: 5px solid #000;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
  }
  
  .ticket-system .receipts-wrapper {
    overflow: hidden;
    margin-top: -10px;
    padding-bottom: 10px;
  }
  

  
  .ticket-system .receipts {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-510px);
    animation-duration: 2.5s;
    animation-delay: 500ms;
    animation-name: print;
    animation-fill-mode: forwards;
  }
  
  ::root{
    --goldBackground: linear-gradient(45deg, #AE8625, #F7EF8A, #D2AC47, #EDC967);
  }

  .ticket-system .receipts .receipt {
    padding: 25px 30px;
    text-align: center;
    min-height: 200px;
    width: 88%;
    border-radius: 10px 10px 20px 20px;
    box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #AE8625, #F7EF8A, #D2AC47, #EDC967, #AE8625, #F7EF8A, #D2AC47, #EDC967,  #AE8625, #F7EF8A);
    background-size: 400% 100%;
    background-position: 0 0;
    animation: AnimationName 50s linear infinite;
  }  
  
  .sub_title {
	font-family: "Pacifico", cursive;
  	font-weight: 400;
  	font-style: normal;
}



  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .ticket-system .receipts .receipt .airliner-logo {
    max-width: 80px;
  }
  
  .ticket-system .receipts .receipt .route {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }
  
  .ticket-system .receipts .receipt .route .plane-icon {
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
  }
  
  .ticket-system .receipts .receipt .route h2 {
    font-weight: 300;
    font-size: 2.2em;
    margin: 0;
  }
  
  .ticket-system .receipts .receipt .details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .ticket-system .receipts .receipt .details .item {
    display: flex;
    flex-direction: column;
    min-width: 70px;
  }
  
  .ticket-system .receipts .receipt .details .item span {
    font-size: 0.8em;
    color: rgba(28, 28, 28, 0.7);
    font-weight: 500;
  }
  
  .ticket-system .receipts .receipt .details .item h3 {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  .ticket-system .receipts .receipt.qr-code {
    height: 110px;
    min-height: unset;
    position: relative;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    align-items: center;
  }
  
  .ticket-system .receipts .receipt.qr-code::before {
    content: '';
    background: linear-gradient(to right, #fff 50%, #000000 50%);
    background-size: 22px 4px, 100% 4px;
    height: 4px;
    width: 90%;
    display: block;
    left: 0;
    right: 0;
    top: -1px;
    position: absolute;
    margin: auto;
  }
  
  .ticket-system .receipts .receipt.qr-code .qr {
    width: 70px;
    height: 70px;
  }
  
  .ticket-system .receipts .receipt.qr-code .description {
    margin-left: 20px;
  }
  
  .ticket-system .receipts .receipt.qr-code .description h2 {
    margin: 0 0 5px 0;
    font-weight: 500;
  }
  
  .ticket-system .receipts .receipt.qr-code .description p {
    margin: 0;
    font-weight: 400;
  }
  
  @keyframes print {
    0% {
      transform: translateY(-510px);
    }
    35% {
      transform: translateY(-395px);
    }
    70% {
      transform: translateY(-140px);
    }
    100% {
      transform: translateY(0);
    }
  }
  